{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Benifex",
    "description": "Benifex Custom Connector for testing."
  },
  "host": "connect-sandbox.onehub.global",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "Get Existing Users",
        "description": "Get Existing Users",
        "operationId": "GetExistingUsers",
        "parameters": [
          {
            "name": "employeeIds",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "size",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "page"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalPages"
                    },
                    "totalItems": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalItems"
                    },
                    "hasNext": {
                      "type": "boolean",
                      "description": "hasNext"
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "description": "hasPrevious"
                    }
                  },
                  "description": "pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "forename": {
                        "type": "string",
                        "description": "forename"
                      },
                      "surname": {
                        "type": "string",
                        "description": "surname"
                      },
                      "employeeId": {
                        "type": "string",
                        "description": "employeeId"
                      },
                      "department": {
                        "type": "string",
                        "description": "department"
                      },
                      "jobTitle": {
                        "type": "string",
                        "description": "jobTitle"
                      },
                      "dateOfBirth": {
                        "type": "string",
                        "description": "dateOfBirth"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "startDate"
                      },
                      "gender": {
                        "type": "string",
                        "description": "gender"
                      }
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create user",
        "description": "Create user",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "content-type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "maritalStatus": {
                  "type": "string",
                  "description": "maritalStatus"
                },
                "employment": {
                  "type": "object",
                  "properties": {
                    "contractDetails": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        }
                      },
                      "description": "contractDetails"
                    },
                    "salaryDetails": {
                      "type": "object",
                      "properties": {
                        "payGroup": {
                          "type": "string",
                          "description": "payGroup"
                        },
                        "salary": {
                          "type": "integer",
                          "format": "int32",
                          "description": "salary"
                        },
                        "salaryEffectiveDate": {
                          "type": "string",
                          "description": "salaryEffectiveDate"
                        }
                      },
                      "description": "salaryDetails"
                    },
                    "employeeId": {
                      "type": "string",
                      "description": "employeeId"
                    },
                    "startDate": {
                      "type": "string",
                      "description": "startDate"
                    },
                    "jobTitle": {
                      "type": "string",
                      "description": "jobTitle"
                    },
                    "grade": {
                      "type": "string",
                      "description": "grade"
                    },
                    "department": {
                      "type": "string",
                      "description": "department"
                    }
                  },
                  "description": "employment"
                },
                "forename": {
                  "type": "string",
                  "description": "forename"
                },
                "surname": {
                  "type": "string",
                  "description": "surname"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "dateOfBirth"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              },
              "default": {
                "gender": "Male",
                "maritalStatus": "Single",
                "employment": {
                  "contractDetails": {
                    "type": "Full Time"
                  },
                  "salaryDetails": {
                    "payGroup": "0220 ",
                    "salary": 100000,
                    "salaryEffectiveDate": "2024-01-01"
                  },
                  "employeeId": "PKJASShgSSD-8972",
                  "startDate": "2024-01-01",
                  "jobTitle": "Engineer",
                  "grade": "A",
                  "department": "Backend Engineer"
                },
                "forename": "test name",
                "surname": "test surname",
                "dateOfBirth": "1991-11-11",
                "emailAddress": "a@b.com"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "forename": {
                      "type": "string",
                      "description": "forename"
                    },
                    "surname": {
                      "type": "string",
                      "description": "surname"
                    },
                    "dateOfBirth": {
                      "type": "string",
                      "description": "dateOfBirth"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "preferredName": {
                      "type": "string",
                      "description": "preferredName"
                    },
                    "localName": {
                      "type": "string",
                      "description": "localName"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": {
                          "type": "string",
                          "description": "line1"
                        },
                        "line2": {
                          "type": "string",
                          "description": "line2"
                        },
                        "line3": {
                          "type": "string",
                          "description": "line3"
                        },
                        "line4": {
                          "type": "string",
                          "description": "line4"
                        },
                        "line5": {
                          "type": "string",
                          "description": "line5"
                        },
                        "postcodeZipCode": {
                          "type": "string",
                          "description": "postcodeZipCode"
                        },
                        "country": {
                          "type": "string",
                          "description": "country"
                        }
                      },
                      "description": "address"
                    },
                    "emailAddress": {
                      "type": "string",
                      "description": "emailAddress"
                    },
                    "gender": {
                      "type": "string",
                      "description": "gender"
                    },
                    "nationality": {
                      "type": "string",
                      "description": "nationality"
                    },
                    "language": {
                      "type": "string",
                      "description": "language"
                    },
                    "maritalStatus": {
                      "type": "string",
                      "description": "maritalStatus"
                    },
                    "effectiveDateOfMaritalStatus": {
                      "type": "string",
                      "description": "effectiveDateOfMaritalStatus"
                    },
                    "employment": {
                      "type": "object",
                      "properties": {
                        "employeeId": {
                          "type": "string",
                          "description": "employeeId"
                        },
                        "additionalEmployeeId": {
                          "type": "string",
                          "description": "additionalEmployeeId"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "originalStartDate": {
                          "type": "string",
                          "description": "originalStartDate"
                        },
                        "probationPassedDate": {
                          "type": "string",
                          "description": "probationPassedDate"
                        },
                        "apprenticeStartDate": {
                          "type": "string",
                          "description": "apprenticeStartDate"
                        },
                        "leaveDate": {
                          "type": "string",
                          "description": "leaveDate"
                        },
                        "terminationReason": {
                          "type": "string",
                          "description": "terminationReason"
                        },
                        "jobTitle": {
                          "type": "string",
                          "description": "jobTitle"
                        },
                        "employmentStatus": {
                          "type": "string",
                          "description": "employmentStatus"
                        },
                        "grade": {
                          "type": "string",
                          "description": "grade"
                        },
                        "legalEmployerCompany": {
                          "type": "string",
                          "description": "legalEmployerCompany"
                        },
                        "department": {
                          "type": "string",
                          "description": "department"
                        },
                        "division": {
                          "type": "string",
                          "description": "division"
                        },
                        "businessUnit": {
                          "type": "string",
                          "description": "businessUnit"
                        },
                        "location": {
                          "type": "string",
                          "description": "location"
                        },
                        "countryOfWork": {
                          "type": "string",
                          "description": "countryOfWork"
                        },
                        "globalTransferDate": {
                          "type": "string",
                          "description": "globalTransferDate"
                        },
                        "costCentre": {
                          "type": "string",
                          "description": "costCentre"
                        },
                        "workPostCode": {
                          "type": "string",
                          "description": "workPostCode"
                        },
                        "workingHours": {
                          "type": "object",
                          "properties": {
                            "contractedHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "contractedHours"
                            },
                            "fullTimeEquivalentHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "fullTimeEquivalentHours"
                            },
                            "daysPerWeek": {
                              "type": "integer",
                              "format": "int32",
                              "description": "daysPerWeek"
                            },
                            "fullTimeEquivalentFraction": {
                              "type": "integer",
                              "format": "int32",
                              "description": "fullTimeEquivalentFraction"
                            },
                            "holidayDays": {
                              "type": "integer",
                              "format": "int32",
                              "description": "holidayDays"
                            },
                            "holidayHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "holidayHours"
                            }
                          },
                          "description": "workingHours"
                        },
                        "contractDetails": {
                          "type": "object",
                          "properties": {
                            "startDate": {
                              "type": "string",
                              "description": "startDate"
                            },
                            "endDate": {
                              "type": "string",
                              "description": "endDate"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          },
                          "description": "contractDetails"
                        },
                        "salaryDetails": {
                          "type": "object",
                          "properties": {
                            "payGroup": {
                              "type": "string",
                              "description": "payGroup"
                            },
                            "salary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "salary"
                            },
                            "salaryEffectiveDate": {
                              "type": "string",
                              "description": "salaryEffectiveDate"
                            },
                            "pensionableSalary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pensionableSalary"
                            },
                            "payPeriods": {
                              "type": "integer",
                              "format": "int32",
                              "description": "payPeriods"
                            }
                          },
                          "description": "salaryDetails"
                        },
                        "funding": {
                          "type": "object",
                          "properties": {
                            "flexFund": {
                              "type": "integer",
                              "format": "int32",
                              "description": "flexFund"
                            },
                            "fundingLevel1": {
                              "type": "string",
                              "description": "fundingLevel1"
                            },
                            "fundingLevel2": {
                              "type": "string",
                              "description": "fundingLevel2"
                            },
                            "fundingLevel3": {
                              "type": "string",
                              "description": "fundingLevel3"
                            },
                            "fundingLevel4": {
                              "type": "string",
                              "description": "fundingLevel4"
                            },
                            "fundingLevel5": {
                              "type": "string",
                              "description": "fundingLevel5"
                            }
                          },
                          "description": "funding"
                        }
                      },
                      "description": "employment"
                    },
                    "nationalIdentity": {
                      "type": "object",
                      "properties": {
                        "nationalIdentityNumber1": {
                          "type": "string",
                          "description": "nationalIdentityNumber1"
                        },
                        "nationalIdentityNumber2": {
                          "type": "string",
                          "description": "nationalIdentityNumber2"
                        },
                        "nationalIdentityNumber3": {
                          "type": "string",
                          "description": "nationalIdentityNumber3"
                        },
                        "nationalIdentityCountry": {
                          "type": "string",
                          "description": "nationalIdentityCountry"
                        }
                      },
                      "description": "nationalIdentity"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "forename": {
                      "type": "string",
                      "description": "forename"
                    },
                    "surname": {
                      "type": "string",
                      "description": "surname"
                    },
                    "dateOfBirth": {
                      "type": "string",
                      "description": "dateOfBirth"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "preferredName": {
                      "type": "string",
                      "description": "preferredName"
                    },
                    "localName": {
                      "type": "string",
                      "description": "localName"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": {
                          "type": "string",
                          "description": "line1"
                        },
                        "line2": {
                          "type": "string",
                          "description": "line2"
                        },
                        "line3": {
                          "type": "string",
                          "description": "line3"
                        },
                        "line4": {
                          "type": "string",
                          "description": "line4"
                        },
                        "line5": {
                          "type": "string",
                          "description": "line5"
                        },
                        "postcodeZipCode": {
                          "type": "string",
                          "description": "postcodeZipCode"
                        },
                        "country": {
                          "type": "string",
                          "description": "country"
                        }
                      },
                      "description": "address"
                    },
                    "emailAddress": {
                      "type": "string",
                      "description": "emailAddress"
                    },
                    "gender": {
                      "type": "string",
                      "description": "gender"
                    },
                    "nationality": {
                      "type": "string",
                      "description": "nationality"
                    },
                    "language": {
                      "type": "string",
                      "description": "language"
                    },
                    "maritalStatus": {
                      "type": "string",
                      "description": "maritalStatus"
                    },
                    "effectiveDateOfMaritalStatus": {
                      "type": "string",
                      "description": "effectiveDateOfMaritalStatus"
                    },
                    "employment": {
                      "type": "object",
                      "properties": {
                        "employeeId": {
                          "type": "string",
                          "description": "employeeId"
                        },
                        "additionalEmployeeId": {
                          "type": "string",
                          "description": "additionalEmployeeId"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "originalStartDate": {
                          "type": "string",
                          "description": "originalStartDate"
                        },
                        "probationPassedDate": {
                          "type": "string",
                          "description": "probationPassedDate"
                        },
                        "apprenticeStartDate": {
                          "type": "string",
                          "description": "apprenticeStartDate"
                        },
                        "leaveDate": {
                          "type": "string",
                          "description": "leaveDate"
                        },
                        "terminationReason": {
                          "type": "string",
                          "description": "terminationReason"
                        },
                        "jobTitle": {
                          "type": "string",
                          "description": "jobTitle"
                        },
                        "employmentStatus": {
                          "type": "string",
                          "description": "employmentStatus"
                        },
                        "grade": {
                          "type": "string",
                          "description": "grade"
                        },
                        "legalEmployerCompany": {
                          "type": "string",
                          "description": "legalEmployerCompany"
                        },
                        "department": {
                          "type": "string",
                          "description": "department"
                        },
                        "division": {
                          "type": "string",
                          "description": "division"
                        },
                        "businessUnit": {
                          "type": "string",
                          "description": "businessUnit"
                        },
                        "location": {
                          "type": "string",
                          "description": "location"
                        },
                        "countryOfWork": {
                          "type": "string",
                          "description": "countryOfWork"
                        },
                        "globalTransferDate": {
                          "type": "string",
                          "description": "globalTransferDate"
                        },
                        "costCentre": {
                          "type": "string",
                          "description": "costCentre"
                        },
                        "workPostCode": {
                          "type": "string",
                          "description": "workPostCode"
                        },
                        "workingHours": {
                          "type": "object",
                          "properties": {
                            "contractedHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "contractedHours"
                            },
                            "fullTimeEquivalentHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "fullTimeEquivalentHours"
                            },
                            "daysPerWeek": {
                              "type": "integer",
                              "format": "int32",
                              "description": "daysPerWeek"
                            },
                            "fullTimeEquivalentFraction": {
                              "type": "integer",
                              "format": "int32",
                              "description": "fullTimeEquivalentFraction"
                            },
                            "holidayDays": {
                              "type": "integer",
                              "format": "int32",
                              "description": "holidayDays"
                            },
                            "holidayHours": {
                              "type": "integer",
                              "format": "int32",
                              "description": "holidayHours"
                            }
                          },
                          "description": "workingHours"
                        },
                        "contractDetails": {
                          "type": "object",
                          "properties": {
                            "startDate": {
                              "type": "string",
                              "description": "startDate"
                            },
                            "endDate": {
                              "type": "string",
                              "description": "endDate"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          },
                          "description": "contractDetails"
                        },
                        "salaryDetails": {
                          "type": "object",
                          "properties": {
                            "payGroup": {
                              "type": "string",
                              "description": "payGroup"
                            },
                            "salary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "salary"
                            },
                            "salaryEffectiveDate": {
                              "type": "string",
                              "description": "salaryEffectiveDate"
                            },
                            "pensionableSalary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "pensionableSalary"
                            },
                            "payPeriods": {
                              "type": "integer",
                              "format": "int32",
                              "description": "payPeriods"
                            }
                          },
                          "description": "salaryDetails"
                        },
                        "funding": {
                          "type": "object",
                          "properties": {
                            "flexFund": {
                              "type": "integer",
                              "format": "int32",
                              "description": "flexFund"
                            },
                            "fundingLevel1": {
                              "type": "string",
                              "description": "fundingLevel1"
                            },
                            "fundingLevel2": {
                              "type": "string",
                              "description": "fundingLevel2"
                            },
                            "fundingLevel3": {
                              "type": "string",
                              "description": "fundingLevel3"
                            },
                            "fundingLevel4": {
                              "type": "string",
                              "description": "fundingLevel4"
                            },
                            "fundingLevel5": {
                              "type": "string",
                              "description": "fundingLevel5"
                            }
                          },
                          "description": "funding"
                        }
                      },
                      "description": "employment"
                    },
                    "nationalIdentity": {
                      "type": "object",
                      "properties": {
                        "nationalIdentityNumber1": {
                          "type": "string",
                          "description": "nationalIdentityNumber1"
                        },
                        "nationalIdentityNumber2": {
                          "type": "string",
                          "description": "nationalIdentityNumber2"
                        },
                        "nationalIdentityNumber3": {
                          "type": "string",
                          "description": "nationalIdentityNumber3"
                        },
                        "nationalIdentityCountry": {
                          "type": "string",
                          "description": "nationalIdentityCountry"
                        }
                      },
                      "description": "nationalIdentity"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user-id}": {
      "get": {
        "summary": "Get Existing user",
        "description": "Get Existing user",
        "operationId": "GetExistingUser",
        "parameters": [
          {
            "name": "user-id",
            "default": "1213620a-292c-430c-a06a-7215fff279a3",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "forename": {
                      "type": "string",
                      "description": "forename"
                    },
                    "surname": {
                      "type": "string",
                      "description": "surname"
                    },
                    "dateOfBirth": {
                      "type": "string",
                      "description": "dateOfBirth"
                    },
                    "emailAddress": {
                      "type": "string",
                      "description": "emailAddress"
                    },
                    "gender": {
                      "type": "string",
                      "description": "gender"
                    },
                    "maritalStatus": {
                      "type": "string",
                      "description": "maritalStatus"
                    },
                    "employment": {
                      "type": "object",
                      "properties": {
                        "employeeId": {
                          "type": "string",
                          "description": "employeeId"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "jobTitle": {
                          "type": "string",
                          "description": "jobTitle"
                        },
                        "grade": {
                          "type": "string",
                          "description": "grade"
                        },
                        "department": {
                          "type": "string",
                          "description": "department"
                        },
                        "contractDetails": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          },
                          "description": "contractDetails"
                        },
                        "salaryDetails": {
                          "type": "object",
                          "properties": {
                            "payGroup": {
                              "type": "string",
                              "description": "payGroup"
                            },
                            "salary": {
                              "type": "integer",
                              "format": "int32",
                              "description": "salary"
                            },
                            "salaryEffectiveDate": {
                              "type": "string",
                              "description": "salaryEffectiveDate"
                            }
                          },
                          "description": "salaryDetails"
                        }
                      },
                      "description": "employment"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "update existing user",
        "description": "update existing user",
        "operationId": "UpdateExistingUser",
        "parameters": [
          {
            "name": "user-id",
            "default": "1213620a-292c-430c-a06a-7215fff279a3",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "content-type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "op": {
                    "type": "string",
                    "description": "op"
                  },
                  "value": {
                    "type": "string",
                    "description": "value"
                  },
                  "path": {
                    "type": "string",
                    "description": "path"
                  }
                },
                "default": {
                  "op": "replace",
                  "value": "Married",
                  "path": "/maritalStatus"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{user-id}/benefits/details": {
      "get": {
        "summary": "Get detailed available and eligible-to-add benefits of user.",
        "description": "Get detailed available and eligible-to-add benefits of user.",
        "operationId": "GetDetailedAvailableAndEligible-to-addBenefitsOfUser.",
        "parameters": [
          {
            "name": "user-id",
            "default": "bb65d42f-d454-4156-ad69-3e0e42223e57",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "currentBenefits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "effectiveFrom": {
                            "type": "string",
                            "description": "effectiveFrom"
                          },
                          "editableUntil": {
                            "type": "string",
                            "description": "editableUntil"
                          },
                          "benefitCost": {
                            "type": "object",
                            "properties": {
                              "annual": {
                                "type": "integer",
                                "format": "int32",
                                "description": "annual"
                              },
                              "monthly": {
                                "type": "number",
                                "format": "float",
                                "description": "monthly"
                              }
                            },
                            "description": "benefitCost"
                          },
                          "employeeContribution": {
                            "type": "object",
                            "properties": {
                              "annual": {
                                "type": "integer",
                                "format": "int32",
                                "description": "annual"
                              },
                              "monthly": {
                                "type": "integer",
                                "format": "int32",
                                "description": "monthly"
                              }
                            },
                            "description": "employeeContribution"
                          },
                          "employerContribution": {
                            "type": "object",
                            "properties": {
                              "annual": {
                                "type": "integer",
                                "format": "int32",
                                "description": "annual"
                              },
                              "monthly": {
                                "type": "integer",
                                "format": "int32",
                                "description": "monthly"
                              }
                            },
                            "description": "employerContribution"
                          },
                          "benefitKey": {
                            "type": "string",
                            "description": "benefitKey"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "benefitLink": {
                            "type": "string",
                            "description": "benefitLink"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "content"
                                },
                                "sections": {
                                  "type": "array",
                                  "items": {},
                                  "description": "sections"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                }
                              }
                            },
                            "description": "sections"
                          },
                          "faqs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "question": {
                                  "type": "string",
                                  "description": "question"
                                },
                                "answer": {
                                  "type": "string",
                                  "description": "answer"
                                }
                              }
                            },
                            "description": "faqs"
                          },
                          "needToKnow": {
                            "type": "string",
                            "description": "needToKnow"
                          },
                          "usefulLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                },
                                "linkText": {
                                  "type": "string",
                                  "description": "linkText"
                                }
                              }
                            },
                            "description": "usefulLinks"
                          }
                        }
                      },
                      "description": "currentBenefits"
                    },
                    "eligibleToAddBenefits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "benefitKey": {
                            "type": "string",
                            "description": "benefitKey"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "benefitLink": {
                            "type": "string",
                            "description": "benefitLink"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "content"
                                },
                                "sections": {
                                  "type": "array",
                                  "items": {},
                                  "description": "sections"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                }
                              }
                            },
                            "description": "sections"
                          },
                          "faqs": {
                            "type": "array",
                            "items": {},
                            "description": "faqs"
                          },
                          "needToKnow": {
                            "type": "string",
                            "description": "needToKnow"
                          },
                          "usefulLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                },
                                "linkText": {
                                  "type": "string",
                                  "description": "linkText"
                                }
                              }
                            },
                            "description": "usefulLinks"
                          }
                        }
                      },
                      "description": "eligibleToAddBenefits"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{user-id}/benefits/summary": {
      "get": {
        "summary": "Get summarized available and eligible-to-add benefits of user.",
        "description": "Get summarized available and eligible-to-add benefits of user.",
        "operationId": "GetSummarizedAvailableAndEligible-to-addBenefitsOfUser.",
        "parameters": [
          {
            "name": "user-id",
            "default": "bb65d42f-d454-4156-ad69-3e0e42223e57",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "currentBenefits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "benefitKey": {
                            "type": "string",
                            "description": "benefitKey"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "benefitLink": {
                            "type": "string",
                            "description": "benefitLink"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          }
                        }
                      },
                      "description": "currentBenefits"
                    },
                    "eligibleToAddBenefits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "benefitKey": {
                            "type": "string",
                            "description": "benefitKey"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "benefitLink": {
                            "type": "string",
                            "description": "benefitLink"
                          }
                        }
                      },
                      "description": "eligibleToAddBenefits"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/{user-id}/benefits/{benefit-key}/summary": {
      "get": {
        "summary": "Get user benefit information.",
        "description": "Get user benefit information.",
        "operationId": "GetUserBenefitInformation.",
        "parameters": [
          {
            "name": "benefit-key",
            "default": "_LifeInsurance",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "user-id",
            "default": "bb65d42f-d454-4156-ad69-3e0e42223e57",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "accept"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "effectiveFrom": {
                      "type": "string",
                      "description": "effectiveFrom"
                    },
                    "editableUntil": {
                      "type": "string",
                      "description": "editableUntil"
                    },
                    "benefitCost": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "integer",
                          "format": "int32",
                          "description": "annual"
                        },
                        "monthly": {
                          "type": "integer",
                          "format": "int32",
                          "description": "monthly"
                        }
                      },
                      "description": "benefitCost"
                    },
                    "employeeContribution": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "integer",
                          "format": "int32",
                          "description": "annual"
                        },
                        "monthly": {
                          "type": "integer",
                          "format": "int32",
                          "description": "monthly"
                        }
                      },
                      "description": "employeeContribution"
                    },
                    "employerContribution": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "integer",
                          "format": "int32",
                          "description": "annual"
                        },
                        "monthly": {
                          "type": "integer",
                          "format": "int32",
                          "description": "monthly"
                        }
                      },
                      "description": "employerContribution"
                    },
                    "benefitKey": {
                      "type": "string",
                      "description": "benefitKey"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "benefitLink": {
                      "type": "string",
                      "description": "benefitLink"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "sections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "content": {
                            "type": "string",
                            "description": "content"
                          },
                          "sections": {
                            "type": "array",
                            "items": {},
                            "description": "sections"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        }
                      },
                      "description": "sections"
                    },
                    "faqs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "question": {
                            "type": "string",
                            "description": "question"
                          },
                          "answer": {
                            "type": "string",
                            "description": "answer"
                          }
                        }
                      },
                      "description": "faqs"
                    },
                    "needToKnow": {
                      "type": "string",
                      "description": "needToKnow"
                    },
                    "usefulLinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uri": {
                            "type": "string",
                            "description": "uri"
                          },
                          "linkText": {
                            "type": "string",
                            "description": "linkText"
                          }
                        }
                      },
                      "description": "usefulLinks"
                    }
                  },
                  "description": "data"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/default/v1/token": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}